[2015-08-06 09:33] JensRavens opened #2 "Disclaimer about FRP in Readme"
Currently this library uses FRP in the sense of [this article](https://medium.com/@andrestaltz/why-i-cannot-say-frp-but-i-just-did-d5ffaa23973b). The original definition though is a bit different (see this [issue on reactive cocoa](https://github.com/ReactiveCocoa/ReactiveCocoa/issues/1342)). We should implement a disclaimer in the readme to state that this is inspired by FRP and not implementing

[2015-08-17 08:14] JensRavens opened #5 "Deprecate bind in favor of flatMap"
the swift standard library tends to go with flatMap in Swift2

[2015-08-17 08:15] JensRavens opened #6 "Support throwing transforms"
Swift2's throw is just some syntactic sugar around a result type, therefore flatMap/bind should support throwing functions/methods.

[2015-08-19 15:20] JensRavens opened #7 "Threading issue for update/peak"
If update is called from multiple threads at the same time, peak and the transformed value might diverge. Update should be a synchronized method.

see https://twitter.com/iceX33/status/633272192197873664

[2015-09-23 06:45] #2 closed

[2015-09-23 06:45] #5 closed

[2015-09-23 06:45] #6 closed

[2015-09-23 06:45] #7 closed

[2015-11-12 05:12] aufflick opened #11 "It is not possible to specify error type or subclass"
Hi,

I'm looking at using Interstellar for a nice simple signal type, but I want the .error() callback to be typed. There are two ways this could work, either the class is Signal<T,E> where E is the specific error class, or I thought without patching I could subclass specific eg:

[code]

But the class is marked final. Is there any specific reason to disallow subclassing?

[2015-11-13 10:49] sotpt opened #12 "No Unsubscribing from Signals"
There is no mechanism to unsubscribe from signals.
Thus over the lifetime of the application callbacks to subscription blocks referencing deallocated objects will be sent. The amount of unnecessary callbacks will steadily increase while the application is used.
This will finally lead to performance issues, especially in the case when Signals are used to update UI elements in view controllers.

[2015-11-13 10:52] JensRavens commented on #12
This is actually on purpose. Signals should be as immutable as possible. To get rid of a Signal just remove the reference to it, then it will deallocate and take all closures with it.

[2015-11-13 10:53] JensRavens commented on #11
Error handling is implicit because it is implicit in Swift (in regards to throwing functions). As signals support throwing functions it's not possible to strongly type them. If you want to route a specific error you can still cast it in the subscribe function or use an ensure-method to redirect them.

[2015-11-13 10:58] JensRavens commented on #11
For the subclassing part: Swift used to be [faster for final classes](http://blog.human-friendly.com/the-importance-of-being-final). Although this is not the case anymore, I still don't see a point in subclassing `Signal`. It's meant to be a base type like `Int` or `Array<T>` which are almost never a good idea to subclass.

[2015-11-15 15:44] schwa opened #13 "What's the right way to have a signal take no input"
This is my first approach:

[code]

Unfortunately next() gets fired twice.

[2015-11-15 19:00] b123400 opened #15 "Should flatMap be map?"
flatMap should have a function signature of `Signal a -> (a -> Signal b) -> Signal b`, but it is currently `Signal a -> (a -> b) -> Signal b` which is a functor mapping, not flatMapping.

[2015-11-16 05:32] schwa opened #16 "Multi merge"
Merging multiple signals means you end up with a "lops sided" tuple. Is there a better way to merge multiple?

[code]

[2015-11-16 11:34] JensRavens commented on #13
Yes, that's intended behaviour so far. You're creating a new Signal of type Void that uses the convenience init. This init now stores the last result (a successful result of void) and every subscriber get's the last result on subscription. Then on update you run the whole chain again - resulting in the second next fired.

Currently I'm using a workaround of using a `Signal<Bool>()` and then update

[2015-11-16 11:37] JensRavens commented on #12
During the last days I was thinking about implementing something similar to reactive cocoa that gives back a subscription-object that can be used to explicitly unsubscribe from a signal. But that would also mean that subscribe is not chainable anymore. Would you think that tradeoff is ok?

[2015-11-16 11:42] JensRavens commented on #15
Which of the 3 implementations of `flatMap` do you mean?

`flatMap` of `Signal<T>` is just a nice wrapper around `flatMap` of `Result<T>`. So although a signal of a gets mapped to a signal of b, the underlying type of Result gets flat mapped. The name should mostly imply that map-functions are not allow to fail (they have to return a type) while flatMap-functions can return an error instead (resul

[2015-11-16 11:47] JensRavens commented on #16
I never really thought about using merge that much (just used it 2 days ago for the first time myself). It was mostly intended to be flatMapped into a common value on the next step anyway (like merging the text of a draft with a text that just got typed).

While I would prefer an array of Signals as the argument, this would not be type safe anymore (it would just be an array of signals, but you wo

[2015-11-16 12:28] b123400 commented on #15
Correct me if I am wrong, but I learned the idea of flatMap from Haskell, which is `>>=`.
The flatMapping function should expect a function that returns a signal, which means

[code]

Because `Result<U>` is not a `Signal<U>`, it is not flatMapping. To be accurate, the current `flatMap` function is flatting a `Result`, but mapping a `Signal`, which is not what a signal should be doing.

If you want

[2015-11-16 16:14] JensRavens commented on #15
Yes, you're right: These are not signals from haskell, they're working a bit differently (e.g. they have internal state). Signal is just an async wrapper that makes it possible to execute a chain of `A->Result<B>` and `B->Result<C>`. There is no `Signal` without `Result` as they're tightly intertwined (opposed to haskell's signal). Kind of a box inside a box they're always working together.

If `S

[2015-11-17 05:22] schwa commented on #16
I'm wondering if a multiple merge functions that took multiple signals might be better?

merge(a: Signal, b: Signal)
merge(a: Signal, b: Signal, c: Signal)
merge(a: Signal, b: Signal, c: Signal, d: Signal)

etc.

This way you keep type safety and a flat return structure and still support a reasonable number of signals.

In my code i have four signals at once (building up complex UI from two async

[2015-11-17 05:24] schwa commented on #13
No I agree with you. I was just surprised at the behavior.

I wonder if an alternate form of init() might be possible. I'll play around and see what i can come up with.

[2015-11-17 20:01] schwa opened #19 "Why does wait() throw?"
Why does wait throw an error or return a value instead of returning a result? This makes it very hard to use wait while continuing to process signals.

[2015-11-17 21:04] JensRavens commented on #19
`wait()` was supposed to be the end of a chain of async transforms - kind of a bridging between Interstellar and the usual Swift error handling, just as `flatMap` also takes a throwing function to get into the Interstellar world. Do you see any use case for waiting and then continuing to process something?

[2015-11-17 21:30] jaydillyo commented on #12
Why not use an inout parameter to return the subscription object? That would preserve chaining. Also, could maintain previous subscribe method that doesn't return a subscription object to maintain source compatibility.

[2015-11-17 22:13] schwa commented on #19
I think an example of usage would come in very handy. I understand how it works now but it took me a while to get it.

[2015-11-18 22:03] bencochran commented on #15
I think @b123400 is making the same general argument as Gordon Fontenot makes here: http://buildphase.fm/90 (regarding `Array<T>`’s `func flatMap<U>(T -> U?) -> Array<U>`)

Basically that `flatMap` as well-defined monadic operation, that on `Monad<T>` it would have the signature of `(T -> Monad<U>) -> Monad<U>`.

I think you can definitely decide to use other meanings of `flatMap` if you want (jus

[2015-11-18 23:03] JensRavens commented on #15
I completely get your point. The only problem in renaming I see is that it's not map either: the current version gets the T of the Signal and returns a result of T, but the resulting Signal is of type T, not Result<T> (Although you could argue that the signal holds a result internally of course).

 Currently the implementations of signal and result are so much intertwined that it's not possible to

[2015-11-18 23:05] JensRavens commented on #15
So in total: it's not map (wrong argument of the transform) and not flatMap (wrong result type). But flatMap gets closer to the intention of flattening the results.

[2015-11-19 01:04] bencochran commented on #15
Yeah, that’s the tricky part. Though I think a consumer of the API shouldn’t be quite so concerned with the technical implementation details regarding `Signal`’s relation to `Result`. Not only does it expose unnecessary details to the consumer, but also couples the ideas of these two types together in a way that locks the implementation to a specific “shape” making it harder to change that in the

[2015-11-19 02:02] bencochran commented on #15
(Also, I’d be remiss not to point out that I’m by no means an authority on any of this. I’m only just starting to get a feel for these particular functional programming conventions. So please take my comments as simply sharing some ideas and observations, not strong/strict criticism. :smile:)

[2015-11-20 18:13] sashankg opened #21 "Signal could be struct"
Wouldn't it be better to have the Signal object be a struct rather than a final class. This is ensures safety when copying and is preferred in Swift (as seen in [this talk](https://www.youtube.com/watch?v=g2LwFZatfTI)) over classes. Really, I just wanted to know why it was a final class.

[2015-11-20 18:20] JensRavens commented on #21
Signals have to be classes so they can be referenced (classes are reference types, structs are not).

[code]

If Signal would be a value type, `doSomething` wouldn't be able to change it (it could declare `s` as `inout mutable`, but that just breaks the whole concept of sane dependencies). Therefore the signal couldn't add the func as a subscriber and also it cannot call it back. `s` would never u

[2015-11-21 19:12] sashankg commented on #21
Thanks!

[2015-11-21 19:12] #21 closed

[2015-11-24 05:47] b123400 commented on #15
Thanks for the replies,, how about rename it to something like `then`?
I find it similar to Javascript's Promise, which has build-in error handling, and they use then name `then` instead of `flatMap`, it just check the result value's type, if it is a Promise then do flapMap, otherwise do map.

[2015-11-25 19:31] raheelahmad commented on #13
Why does `Signal` send the last value on subscription? Could we have at least a choice to send only send values on `update`? I guess that's veering towards the hot & cold semantics...

[2015-11-26 14:07] elm4ward opened #22 "Adding Signal update(f: T? -> T)"
First of all - i am loving the simplicity of interstellar!
ty for putting it online.

In my projects i added an extension for Signals.
I often use this in case of 1 Signal with a Tuple of values.

Maybe you see some use case for this.

[code]

[2015-11-26 15:41] JensRavens commented on #22
Can you give me an example how you're using this function? I'm not sure what's the use case actually.

[2015-11-26 16:00] elm4ward commented on #22
sure.
e.g.: when there is a signal containing a tuple, it provides me a possibility to update the value while
having access to the previous value.

[code]

[2015-11-30 12:29] JensRavens commented on #13
Yep, it is. If you think about a `UITextField` having a `textSignal: Signal<String>`-property, most of the time it's handy to send the last value on subscribe to e.g. update a label. But this has several drawbacks: possible memory leaks, sending `void` on subscribe, breaking the first run of `Thread`-calls or just unexpected behaviour (like sending something when subscribing to a button). Therefor

[2015-11-30 12:36] JensRavens opened #23 "Interstellar 2.0"
This issue is collecting all feature requests that require a breaking change to the public API of this library. Please discuss features in the corresponding issues (linked in the description):
- Split up `Signal<T>` and `Result<T>`. This also adds support for non-failing signals and fixes the naming of some methods (`flatMap` becomes `then`, so `flatMap` is free to do a real flat-mapping). #15
- S

[2015-11-30 12:41] JensRavens commented on #15
I like the idea of introducing `then` as a new method and reserving `flatMap` for functions returning a signal. As this is a breaking change it would be part of a 2.0-release. I have to be sure about naming it `then` to not break it again soon ;-)

I also thought about naming it `transform` because it applies a transforming function to a contained result.

In the end this should be created as an e

[2015-11-30 12:55] JensRavens commented on #22
Wouldn't it be easier to just merge two signals in that case?

[code]

[2015-11-30 13:05] elm4ward commented on #22
in case I need to be able to observe both on their own? sure.
but this way it is possible to save those extra signals.
so there is only 1 instead of 3.
e.g. I am using it for sort and filter of data sources, where I can easily forget about the individual signals.
no worries if you don't see the use case. I can easily live on w/ an extension.
:-)

[2015-11-30 13:10] JensRavens commented on #22
The problem with your implementation is, that it will crash if one of the values becomes an error.

Handling tuples/merging signals is still not completely thought through, so I'm open to suggestions (see #16).

[2015-12-09 12:50] siuying commented on #12
A use case: If I create a signal from `NSNotificationCenter`, I'd really want to unsubscribe it, where I can remove the observer from notification center.

[2015-12-09 13:06] JensRavens commented on #12
This will be addressed in Interstellar 2, but currently you can achieve it with a workaround:

Create a custom object that subscribes itself to `NSNotificationCenter`. The only purpose of this object is to update a `Signal<NSNotification>` and keep a strong reference to it. Once you don't want to receive updates anymore, you can just let go of the signal (e.g setting it to `nil` on the object), so

[2015-12-09 14:05] siuying commented on #12
@JensRavens thanks!

[2015-12-09 17:51] irace commented on #15
Sounds awesome – being able to build more `Signal`-based APIs that can then be composed together would be a huge boon.

[2016-01-04 10:32] robertjpayne commented on #12
I think it's pretty acceptable to make `next` and `subscribe` final methods that return a token to unsubscribe rather than keep chaining.

Chaining with both of these methods is a bit weird I think because to a viewer it would look as if the value stream was being modified but in reality it was just being 'tapped'.

Both RxSwift and ReactiveCocoa solve this via a separate API `on` vs `subscribe*`

[2016-01-05 16:14] onmyway133 opened #28 "Debounce using GCD?"
Hi Jens,

Just a suggestion, how about refactoring debounce to GCD source, so that we can schedule and cancel when needed, like https://github.com/onmyway133/Signal/blob/master/Pod/Classes/Signal%2BDebounce.swift and http://mokagio.github.io/tech-journal/2014/11/18/objective-c-throttling-with-gcd.html

[2016-01-12 20:37] IwanKaramazow commented on #16
This was actually something I ran into immediately when using this library.
I mainly use Interstellar for form validation. Every form gets its own signal.
They all have to compose somehow to a main signal which holds a value that represents if all forms in certain view are valid. As a quick solution to this problem I came up with a function:

[code]

It takes an array of signals and a function whi

[2016-01-19 05:16] danielrhammond opened #30 "Yosemite support"
Hey, I was curious on what the intended/expected minimum OS X target is.

The README says the requirements are `iOS 7.0+ / Mac OS X 10.9+ / Ubuntu 14.10` but when I use Carthage fetch and install Interstellar it results in a framework with minimum deployment target of `OS X 10.11`

I tried to change the `Interstellar.xcodeproj` to set a deployment target of 10.10, it builds fine... but I'm wonderi

[2016-01-19 11:51] JensRavens commented on #16
If all signals do have the same type, it would be possible to define a merge function like this:

[code]

[2016-01-19 12:07] JensRavens commented on #28
Thanks for the reference. This would definitely an improvement.

[2016-01-19 12:09] JensRavens commented on #30
The only requirement for Interstellar is swift support (done in os x 10.9). This seems to be an error in the OS X target. To be honest, I don't use Carthage, so I didn't notice so far. I'll try to fix this asap.

[2016-01-19 16:25] danielrhammond commented on #30
Awesome, thanks a lot for the very-quick response.

I was originally going to just throw up a pull with the original question changing the xcode project file but I couldn't seem to figure out how to run the tests against the OS X framework (works when I select the iOS scheme in Xcode/xcodebuild but not OS X) any advice/pointers on how to do that?

[2016-01-19 16:50] JensRavens commented on #30
Currently there are no OS X tests at all (os x code is 100% identical to iOS, therefore there are only iOS tests).

[2016-01-19 16:55] danielrhammond commented on #30
Cool, thanks for explanation. Thought I was missing something.

[2016-01-27 21:20] anaglik commented on #23
Hi
Congratulations on the library. Interstellar looks great! Could you say more than less when do you plan to release v. 2.0 ?

[2016-01-28 10:51] JensRavens commented on #23
Thank you @anaglik,
currently I'm thinking about putting these features into v1.4 and then do the deprecation of `Signal<T>` in 2.0, just to have a smoother upgrade experience. This also involves the discussion about https://github.com/JensRavens/Interstellar/pull/27.

[2016-01-28 14:41] anaglik commented on #23
Great, it sounds good,
I am mostly interested in #12 but all chances are very welcome.

[2016-01-28 15:20] vytis opened #31 "Memory leak when map'ing signals"
It seems that after doing `.map` to a signal the newly created signal never gets deallocated. For example:

[code]

In this case I would expect nothing to be printed to the console because I update `text` signal and there are no subscribers in the current scope. However in reality I get "I am silent" two times because `leakedSignal` is not released after `doNothing` is finished.

For this particul

[2016-01-28 15:33] JensRavens commented on #31
Yes, all signals keep a strong reference to child-signals. But this is somewhat on purpose, otherwise you would have to keep a reference to all signal-chains. Just imagine this case:

[code]

This chain would never execute because there is no way to capture the signal after the first map.

[2016-01-28 16:19] vytis commented on #31
That is true, didn't realise that chaining wouldn't work. In your example I would expect that you should only need to keep the reference to the last signal created. Not sure how it would be possible to implement this though.

So that also means that any values sent through the signal would also leak? Didn't do any tests but it could have a big impact on overall memory consumption

[2016-01-28 16:25] JensRavens commented on #31
It's not actually leaking - the memory is still accessible. As soon as you let go of the initiating signal, the whole graph of signals collapses and get's deallocated.

RxSwift is working around that by having dispose bags, but i would like to keep this implementation is small as possible, so this concept might be overkill.

Also retaining without having a reference is quite a nice feature if you

[2016-01-29 08:30] vytis commented on #31
Ah ok, then it's not a big problem if everything gets released in the end. Thanks for a nice explanation!

[2016-02-29 15:44] #31 closed

[2016-04-07 13:29] ashfurrow commented on #23
@JensRavens Do you have any ideas or specifics on how one could contribute to v2? I see there's a [branch](https://github.com/JensRavens/Interstellar/tree/feature/v2) and I'm wondering what next steps the community could help you take – we're happy to help with such a useful library!

[2016-04-07 18:24] JensRavens commented on #23
Hey Ash,

nice to see you here! I've been pretty much heads down in ruby over the last few weeks, but I'll have some more time for Swift now.

Currently I hope to get some feedback over the design decisions of v2. Dropping Signal in favor of Observable is a needed, but rather drastically.

Also I'm really unsure how to handle Observables on subscribe and if they should keep notifying the observer

[2016-04-08 15:24] Erkened commented on #23
@JensRavens Would you consider adding UI Bindings in a separate, dependent project (InterstellarUI for example) so that those among us who'd like to subscribe to events from UITextFields, UIButtons etc. are able to do so?

[2016-04-08 15:48] JensRavens commented on #23
Yep. My first reflex was to add it as a cocoapods subspec. But as I'm planning to use Interstellar also on Server Side Linux apps, it might be best to move it out of the core (there's already a divide between Interstellar Core and the Warpdrive extensions).

[2016-04-11 14:25] ashfurrow commented on #23
@JensRavens Cool, I'll take a look at the v2 branch and provide some feedback – does here work? For code-level feedback, a PR from that branch into master makes sense, but it might be early for that. Do you consider the v2 branch at all ready for testing in production?

For UI bindings, I think moving to another repo makes sense. RxSwift has RxCocoa as a second podspec in the repo, and it works ok

[2016-04-11 16:44] JensRavens commented on #23
@ashfurrow It's should be pretty stable, but expect some changes during the next weeks (making the subscribers subclasses of an abstract base class is not what I would like to do in the long term, but that shouldn't affect the public api).

For the UI-bindings: I've already came up with a nice name: Holodeck (which completes Interstellar and Warpdrive).

[2016-04-11 17:43] Erkened commented on #23
@JensRavens Holodeck is a cool name, I like it :)
Keep us posted when you create this project. I have a couple of UI bindings I'll submit then. And I'll try to have a look at the v2 branch when I get some free time.

[2016-04-15 19:48] ashfurrow commented on #12
@JensRavens I'm moving our project over to v2 as an experiment, and I just wanted to thank you for updating the readme along with the code :bow: It's making things a lot easier.

[2016-04-15 23:08] robertjpayne commented on #23
@JensRavens care to elaborate a bit more on:

Love the simplicity of Interstellar over RAC/RxSwift.

[2016-04-19 15:07] vittoriom commented on #16
I would also be quite interested in such a function 👍

[2016-04-25 19:16] ashfurrow opened #40 "More complex unsubscription in v2"
The current subscription/unsubscription mechanism in v2 relies on having both the `Observable` and the `ObserverToken`, which complicates things slightly. For use in a table view cell, for example, we need to unsubscribe during `prepareForReuse()`, and afterward set the observable and the token to be `nil`. This requires some awkwardness, either with:

[code]

Or something with tuples:

[code]

Ne

[2016-05-05 08:22] couchdeveloper opened #42 "Possible data race in function `subscribe`"
In function `subscribe`

[code]
 https://github.com/JensRavens/Interstellar/blob/master/Sources/Signal.swift#L145-L153

it seems to me, there's a potential data race: access to `value` should be protected by the mutex.

[2016-05-09 21:30] ashfurrow commented on #40
Hey there! Any update on this? Is it an idea you think is worth pursuing?

[2016-05-10 18:34] JensRavens commented on #40
That sounds like a good idea.

But here's another solution for your problem:

[code]

This saves you from the hassle of constantly subscribing/unsubscribing during `prepareForReuse` and let ARC handle the task for you.

Only drawback: After the cell is `dealloc`ed the subscription stays around. I haven't done any performance testing on that yet but I assume it's more performant on the long term.

[2016-05-11 11:05] ashfurrow commented on #40
Yeah, that's makes sense. In our case, we're going to have a few hundred observables each subscribed to hundreds and hundreds of times, in an app that needs to be remain usable during hours of use (edge case, but it's important). Usually I've followed this example, but in a few instances, I need to unsubscribe from popular observables.

I'll send a PR with a sample implementation, I'd love to get

[2016-05-11 18:30] JensRavens commented on #40
Thank you! (I'm a quite busy until next Wednesday, so responses might take a bit)

[2016-06-02 08:59] vittoriom opened #44 "Not sure about how `debounce` works"
Hi!

I'm using `Interstellar` in our project and so far it's working fine.
There is a use case where I can update a signal multiple times in a short period but I'm only interested in one update every let's say half a second. It's fine to discard the previous updates, I'm just interested in the latest one.
I'm using `debounce` for this, but looking at the tests (and at the wrong outcome in the app)

[2016-06-03 10:18] JensRavens commented on #44
If debounce is still calling your subscriber for each update, something is wrong 😀

In the test it's actually testing that some values should be discarded. It pretty much works like this:
- First update is supplied immediately (if there are less frequent updates this is desired behaviour)
- next update is delayed up to the interval that is specified as an argument
- if there is another update duri

[2016-06-03 13:08] vittoriom commented on #44
Ha, I see! I wasn't actually getting a call for each update, but I was assuming that by just looking at the tests. Maybe they could be modified so that `update` is called 3 times and yet 2 callbacks are fired. I think this would make the behavior more clear.

Anyway, thanks for the explanation. I think the part I missed (and didn't expect) was the first update that is fired immediately.

I'll clos

[2016-06-03 13:08] #44 closed

[2016-07-01 09:43] anaglik commented on #23
@JensRavens Could you comment on following suggestions/questions ?
1. What do you think about adding "Unsubscribable" protocol with unsubscribe method and then make ObserverToken implement it ? It may simplify storing tokens in Array (e.g [Unsubscribable]). Currently I don't have "nice" solution for that.
2. You mentioned that you are thinking about depreciation of Signal. Are there any plans to a

[2016-07-04 09:35] JensRavens commented on #23
@anaglik
For the token part:
`ObserverToken` currently is a class and the only class that can be returned by the subscribe method. What would be the advantage of having it as a protocol? `[ObserverToken<String>]` looks fine to me.

Observables by now should support everything that was supported by signal - and more (merging is currently discussed in #39). The old version of `flatmap` was never a r

[2016-07-04 15:55] anaglik commented on #23
@JensRavens
1. In my case I would like to store ObserverTokens of different types in one array (something like `[ObserverTokens<Any>]`). I could't find elegant way to do that without protocol.
2. You are absolutely right about old version of `flatMap`. Nonetheless, I couldn't find good replacement for `flatMap<U>(f: (T, (Result<U>->Void))->Void) -> Signal<U>` but I will definitely look at `then`.

[2016-07-04 16:04] ashfurrow commented on #23
I've had this situation too, where I want an array of indiscriminate  observer tokens to unsubscribe from later.

[2016-07-27 02:01] hypertalk commented on #12
It seems that mapping a Observable (or signal) will also add a subscription to the dictionary of the initial Observable.  Since this does not return a ObservableToken there is no way to remove the subscription after it has been added from the map

[2016-07-27 10:43] JensRavens commented on #12
@NeonOrion Yep, this is intentional. `map` is just convenience over `subscribe`. If you want all the options, use `subscribe` instead.

[2016-08-21 13:59] dtartaglia commented on #13
I really like the idea of making Signal stateless, as long as there is some simple way of applying state for the common case (at least common for me) where we actually do want `subscribe` to immediately call `next`.

That said, when I have implemented this sort of thing myself, I just put a parameter on the subscribe which is the second option you mentioned.

(Hi, I just started using this library

[2016-09-22 15:00] AmitaiB opened #50 "Swift 3 version"
...would be awesome.

I'm using a modified fork of
    https://github.com/madhavajay/Interstellar/tree/swift-3
 at the moment, but it would be grand to have something official.

And thank you for your awesome framework!  🙏

[2016-09-26 17:02] JensRavens commented on #50
Thanks for your work. Please see `feature/v2` for Swift 3 support and lots of awesome new stuff. I hope to release all of this this week.

[2016-09-26 17:02] #50 closed

[2016-09-27 14:58] nicnieumiem opened #52 "Missing comma in .podspec file"
Missing comma in .podspec file on branch feature/v2 in line

cs.source_files = ["Sources/Result.swift", "Sources/Signal.swift", "Sources/Observable.swift", "Sources/ObserverToken.swift" "Sources/Mutex.swift", "Sources/ResultType.swift", "Sources/Observable+Result.swift"]

(no comma between "Sources/ObserverToken.swift" and "Sources/Mutex.swift")

[2016-09-28 09:20] #52 closed

[2016-09-28 12:12] JensRavens commented on #23
Here's a short update: v2 is now fully tested and documented and I think it's ready for production (I think @ashfurrow  is already using it). If there are no objections I'll release it just in time on friday for my Interstellar [workshop in Zürich](http://jensravens.com/reactive-programming-workshop/).

Here's a the list of awesome new stuff:
- `Signal<T>` was split up into `Observable<T>` which c

[2016-10-20 09:51] anaglik opened #53 "Question regarding Thread class"
During migration to Interstellar 2 I noticed that `Thread` class is not "supported" both in `Signal` and `Observable`. I tried to used it as suggested in description (`Signal.ensure(Thread.main)`) but ensure method expects something else. Do you plan to remove it completely or there is some other method that I didn't noticed.

[2016-10-24 14:57] JensRavens commented on #53
`Thread` has been replaced by `Queue` in v2, mostly because it never has been a thread but a queue instead, but also because `Interstellar.Thread` in Swift 3 clashes with `Foundation.Thread` wich has been renamed from `NSThread`.

[2016-10-29 11:56] robertoschwald opened #54 "global(qos:) only available on OSX 10.10"
While trying to compile feature/v2 with Xcode 8.1, OSX 10.12 in Carthage, I get:

Carthage/Checkouts/Interstellar/Sources/Threading.swift:47:23: error: 'global(qos:)' is only available on OS X 10.10 or newer

Carthage/Checkouts/Interstellar/Sources/Threading.swift:47:36: error: 'background' is only available on OS X 10.10 or newer

A shell task failed with exit code 65:
*\* BUILD FAILED **

The fo

[2016-11-04 14:39] anaglik commented on #53
It totally makes sense. Nonetheless, `ensure` method works neither with `Thread` nor `Queue` class. It is not big deal since Signal is deprecated and you will probably remove both Thread and Queue classes in future.
Thank's for help.

[2016-11-04 14:39] #53 closed

[2016-11-24 16:03] anaglik commented on #23
@JensRavens When do you plan to move v2 into master?

[2017-01-11 10:22] asalom commented on #50
Do you have any plans to release the Swift 3 version soon?
Thanks for the good work!

[2017-01-27 17:57] JensRavens commented on #54
Thank you for reporting, the issue was fixed in #51.

[2017-01-27 17:57] #54 closed

[2017-01-27 18:06] JensRavens commented on #40
Unsubscribe has now landed in V2, therefore closing this issue.

[2017-01-27 18:06] #40 closed

[2017-01-27 18:07] JensRavens commented on #30
Deployment targets should be correct now in V2.

[2017-01-27 18:07] #30 closed

[2017-01-27 18:07] #19 closed

[2017-01-27 18:07] JensRavens commented on #13
V2 now allows for `Observable<Void>`.

[2017-01-27 18:07] #13 closed

[2017-01-27 18:09] JensRavens commented on #15
`flat_map` now finally does what it is supposed to do, the old functionality has been renamed to `then`.

[2017-01-27 18:09] #15 closed

[2017-01-27 18:09] JensRavens commented on #12
V2 has been released now, including the unsubscription api.

[2017-01-27 18:09] #12 closed

[2017-01-27 18:10] JensRavens commented on #11
In V2 you can bring your own result type, therefore also use your own error type.

[2017-01-27 18:10] #11 closed

[2017-01-27 18:11] #22 closed

[2017-01-27 18:12] JensRavens commented on #23
Finally published v2 today! :tada:
<img width="655" alt="screen shot 2017-01-27 at 18 28 54" src="https://cloud.githubusercontent.com/assets/928979/22382101/80cdf6ec-e4c4-11e6-95e7-ae862019dbf6.png">

[2017-01-27 18:12] #23 closed

[2017-03-10 23:19] yood opened #58 "Debounce doesn't deliver last call to update"
Debounce seems to deliver the first skipped call to update, instead of the last call to update.

I think this happens because the skipped calls to update are scheduled to be evaluated again 1) without previous skipped calls being cancelled, and 2) are scheduled to be evaluated again very close to each other temporally. Observable.delay uses DispatchQueue.asyncAfter which isn't very precise, so whi

[2017-04-07 14:09] loudmouth opened #59 "Feature Request: API for cancelling underlying async task"
I am wrapping `URLSessionDataTask` instances in `Observable` instances via code similar to that listed below (I have removed the use of generics and replaced them with concrete types to, hopefully, make the example more clear).

[code]

Unfortunately, I haven't figured out a way to expose the underlying `URLSessionDataTask` to the client to cancel the request in a clean fashion. I think ideally, t

[2017-04-10 05:03] grimrecka opened #60 "Using Queue with observable, maybe race condition?"
I'm trying to use `Queue.background` and `Queue.main` to do some background work on another thread and then publish the result on the main thread. Based on the signatures of the `Queue` functions and my experience with 1.0 I'm assuming I'm supposed to use it something like this:

[code]

Is the basically how I should be using the Queue functions?

If it is, I've found that roughly 50% of the time,

[2017-04-18 12:41] JensRavens commented on #59
I would recommend you to use a similar style to disposables.

Interstellar uses a slightly different memory management concept: Instead of explicit disposables it's just plain ARC. As soon as there are no reference to an observable it will just be deallocated, taking all it's data with it. You can use this by observing some wrapper class around your data that cancels the request on deinit:

[code]

[2017-04-18 12:46] JensRavens commented on #60
Yes, this is currently a known issue about first subscription. Subscribing to an observable that already holds a value will execute the subscription immediately on the subscriber thread, all subsequent updates will respect the invocation chain.

If you just care about stopping the indicator I'd suggest you use an observable with `.NoInitialValue` which does not keep the value around and therefore

[2017-04-19 11:09] loudmouth commented on #59
Thanks @JensRavens. I will revisit this next week.

Closing for now.

[2017-04-24 11:56] loudmouth commented on #59
Hey @JensRavens, I looked into it this morning and one thing I'd like to do is preserve the type signature of my Observable. In this case, the type is `Observable<Result<DataType>>` where DataType is the expected type after the network request returns successfully, and mapping from has occurred. This is in contrast to the above-suggested `Observable<Request>` type signature.

As an experiment, I c

[2017-04-25 11:26] loudmouth commented on #59
Hey @JensRavens , I now understand your suggestion a bit better after hacking for half a day and continuing to look at more resources about programming with Observables. ~~I was happily surprised to find out that I didn't need to forward all methods when making a wrapper class to enable cancellation—rather that I could transform an `Observable<Request>` to an `Observable<Result<ResultType>>`, and

[2017-04-25 15:11] loudmouth commented on #59
I may have spoken too soon. My implementation above immediate releases the `Observable<Request>` which contains the `URLSessionTask` of interest as soon as the function exits.

I'm feeling like either adding a cancellationBlock to `Observable` as suggested above, or some other implementation of Disposable is the way forward.

[2018-01-17 10:43] sboddeus opened #64 "Filter"
Is there a reason other than lack of resources for not including `filter` on observables?
I would be happy to add a pull request unless I am missing a particular design decision.

[2018-03-15 14:49] JensRavens commented on #64
The main reason so far is that I haven't had the need for it.

[code]

But it makes sense to include it in `Observable`s directly (especially for mapping and chaining reasons). So if you want to go for it, PRs are welcome! :)

[2018-03-15 14:53] #60 closed

[2018-03-18 17:30] sboddeus commented on #64
Here is my suggested implementation PR: https://github.com/JensRavens/Interstellar/pull/65

[2018-03-19 09:44] JensRavens commented on #64
Closed by PR #65

[2018-03-19 09:44] #64 closed

[2019-01-04 13:38] attheodo opened #69 "Updating observable's value without triggering update"
I don't think it's possible to "silently" update an observable's value. Such a use-case kinda popped-up for me today...

Do you think it makes sense to add it to Interstellar's API?

[2019-01-07 09:48] JensRavens commented on #69
It's not quite a use case I'd like to make possible. This brings quite a bit of overhead into the api (now you have to think about "should I notify or not?" every time you update a variable) and also introduces tons of possibilities for bugs where labels don't update, completion handlers are not triggered, some memory cleanup is not called...

Can you give me some more details about your use case?

[2019-01-19 17:24] Mazyod opened #70 "Zero-Knowledge Disposal"
Thanks for publishing this great library!

I really loved it, but I quickly faced a problem (for me at least). I am trying to implement a "service-oriented architecture", which is basically just a bunch of services that are instantiated then bound together through observables to make the whole thing "tick". They should not know about each other, except for the `Observable` being passed in from the

[2019-01-19 17:26] Mazyod commented on #70
Type-erased version:

[code]

[2019-01-23 14:57] JensRavens commented on #70
If I get it correctly you're implementing something that the library does anyway: Once an observable is dropped from memory, it releases all its observing functions (and other things that are retained by those). Calling unsubscribe is therefore not actually needed in almost all cases (so far I never used it myself, it was just integrated into the library because so many people asked for it - but b

[2019-01-23 17:31] Mazyod commented on #70
Thanks for the explanation, @JensRavens. You're right, and I am not worried about the `Observable` being dropped from memory, nor about the `Observer` being dropped either (since I can capture weakly in the observation closure).

The problem I'm trying to solve is what if you want to bind, then re-bind objects without them ever being deallocated? Take a `UITableViewCell` as an example, since it's

[2019-02-01 13:18] JensRavens commented on #70
Yes, this is the usecase that is handled by dispose-bags in other frameworks. I don't want to introduce this complicated concept into the library, that's why I'm looking for other ways.

Maybe it would make sense to change the implementation of `ObserverToken`. It was implemented in the first place as an opaque thing to store until we come up with a better implementation. Maybe it's time to change

[2019-02-01 13:20] Mazyod commented on #70
@JensRavens I'm happy to raise a PR with that idea in mind if you're busy. I presume the only additional change would be to retain the observable weakly within the token for the unsubscribe to work without the need to pass in any additional parameter.

[2019-02-12 13:45] #70 closed

[2019-03-25 20:46] anaglik opened #73 "Swift's 5 Result type"
Hi,
I'm huge fan of the project. It is really well done and using it is a breeze.

Today, Apple released Xcode 10.2 with Swift 5 and now we have `Result` type built into the language. How do you think it influences the project? Should it replace Interstellar's `Result` type or would you like to keep them both by conforming to `ResultType` protocol?

[2019-04-23 15:49] JensRavens commented on #73
I already created a pr for it at #74
it needs a bit more work though

[2019-08-19 13:49] anaglik commented on #73
@JensRavens Will you be working on it later ?

[2019-08-20 16:59] JensRavens commented on #73
My current state is more or less that this will probably never be merged. For swift 5 there's the way better alternative of just using the new native producers - they're more performant and more flexible.
If you need this though, feel free to take over and do a PR.

[2020-03-14 16:54] teogeos commented on #73
Hello @JensRavens I'm interested by this but I don't know what the "new native producers" you're referring to are. Could you tell me what they are, and how they make it unnecessary to use the built in `Result` type in Interstellar?
Thank you

[2020-03-14 17:56] JensRavens commented on #73
Swift 5 has the combine framework which can do anything Interstellar can do. So it’s not a replacement for result but for the whole framework.